<div class="row">
    <div class="col">
      <div class="card " style="width: auto; margin-top:20px;">
      <div class="card-body">
        <div class="row text-center" >
          <h2 >Renew Policy</h2>
        </div>
        <form>
          <div class="form-group">
            <input type="number" class="form-control" id="exampleInputpolicy" a placeholder="Policy Number">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Reasons To Claim Insurance</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Natural Insurance</option>
              <option>Man-made Diaster</option>
              <option>Road Accident</option>
              <option>Theft</option>
            </select>
          </div>
          <div class="text-center">
            <button type="submit" (click)="claimfunc()" class="btn btn-primary text-center">Submit</button>
          </div> 
        </form>
        
      </div>
    </div>
  </div>
