<div class="sidenav">
  <a href="#">Dashboard</a>
  <a href="#">Claim insurance</a>
 
</div>

<div class="main">
    <div style="padding: 50px;">
        <div class="border">
        
        <h2>Admin</h2>
        
        
        <table >
          <tr>
            <th>Claim No</th>
            <th>Date</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Amount</th>
          </tr>
          <tr>
              <td>claimId</td>
              <td>claimDate</td>
              <td>claimReason</td>
              <td><button  class="button">Save</button></td>
          </tr>
        </table>
        </div>
        </div>
    </div>
   

