  .sidenav {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 70px;
  }
  
   td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 13px;
  }

  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 13px;
  }
  
  .border {
    border-radius: 10px;
    border: 2px solid #f8f0ef;
    background-color: #f8f0ef;
    padding: 30px; 
    width: 70%;
    margin-left:180px;
}

.button{
    background-color: salmon;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    /* margin: 20px; */
    font-family: Raleway;
    cursor: pointer;
    position: relative;
    /* left: 90%; */
}