
<div class="row" style="  margin-top: 33px;">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          
                      <p>
                         Motor insurance is just like any other insurance policy, but unlike other insurances, it is ‘Mandatory'! And, as the name suggests, it is an insurance that is related to all types of motor vehicles-motorcycles, cars, jeeps, commercial vehicles etc.
                        </p>
                        <p>
                          Motor insurance has been made mandatory by the government for your safety and the safety of others. And the yearly premium you pay is just a meagre sum when compared to the advantages it has to offer you in case of, god forbid, any mishap.
                        </p>
                        <p>
                         Here’s yet another misconception many people have, Motor Insurance covers only the motor vehicle. Wrong again!
  
                         So first, let's start with the types of Motor Insurance policies, and by and large what they cover! Motor insurance can be classified on 2 things
                        </p>
                        <ul>
                            <li>The type of vehicle for which you are taking insurance</li>
                            <li>The amount of coverage that you want to cover your vehicle for</li>
                        </ul>
                  
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" >
        <div class="card-body">
          <ul class="list-group">
              <li class="list-group-item " style="    padding: 22px 15px;"><a routerLink ="buy">Buy Insurance</a></li>
              <li class="list-group-item" style="    padding: 22px 15px;"><a  routerLink ="login">Renew Inusrance</a></li>
              <li class="list-group-item" style="    padding: 22px 15px;"><a routerLink ="claim">Claim Inusrance</a></li>
              <li class="list-group-item" style="    padding: 22px 15px;"><a routerLink ="estimateCalc">Estimate Insurance Calculation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  