<div class="row">
    <div class="col">
      <div class="card " style="width: auto; margin-top:20px;">
      <div class="card-body">
        <form>
          <div class="row text-center">
               <h2 >Policy Plan</h2>
          </div>
         <div class="form-group">
          <label for="exampleFormControlSelect1">Choose Your Plan</label>
           <select class="form-control" id="exampleFormControlSelect1">
            <option>Third Party Liability</option>
            <option>Comprehensive</option>
            
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Choose Time Period</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>One Year</option>
            <option>Two Year</option>
            <option>Three Year</option>
            
          </select>
        </div>
      

       <div class="text-center">
         <button type="submit" (click)="paymentfunction()" class="btn btn-primary text-center">Make Payment</button>
       </div> 
     </form>

   </div>
 </div>
</div>
