<div class="row">
  
    <div class="card">
      <div class="card-body">
        <form>
  <div class="form-group">
    
    <input type="text" class="form-control" id="exampleInputCarModel"  placeholder="Car Model" style="    width: 20%;
    margin: 8px 520px;">
   
  </div>
  <div class="form-group">
    
    <input type="number" class="form-control" id="exampleInputAge2" placeholder="Age" style="    width: 20%;
    margin: 8px 520px;">
  </div>
 
  <button type="submit" class="btn btn-primary" style="    width: 20%;
    margin: 8px 520px;" onclick="Calculate();">Calculate Premium</button>
</form>
    
  </div>
 
  </div>
