  <div class="row">
    <div class="col">
      <div class="card " style="width: auto; margin-top:20px;">
      <div class="card-body">
        <form>
          <div class="form-group">
            
            <div class="text-center">
                <button (click)="cal2wheelerfunc()">Two wheeler</button>
                <button (click)="cal4wheelerfunc()">Four wheeler</button>
        <!--          <button style="    display: block;
            margin-left: 600px;"><a href="">submit</a></button> -->
        </div>
          </div> 
        </form>
        
      </div>
    </div>
  </div>
