<div class="row">
    <div class="col">
      <div class="card " style="     width: auto; margin-top:20px; ">
        <div class="card-body">
          <form>
            <div class="row text-center" >
                 <h2>Buy Insurance</h2>
            </div>
            <div class="form-group">
               
                2-wheeler<input  type="radio" class="form-control" id="exampleRadio1" >
                
                4-wheeler<input  type="radio" class="form-control" id="exampleRadio2" >
              </div>
             <div class="form-group">
               <input type="text" class="form-control" id="exampleInput1" a placeholder="Enter Car/bike Manufacturer">
             </div>
             <div class="form-group">
               <input type="text" class="form-control" id="exampleInput2" placeholder="Enter Car/Bike Model">
             </div>
             <div class="form-group">
               <input type="text" class="form-control" id="exampleInput3" placeholder="Enter driving Licence">
             </div>
             <div class="form-group">
               <input type="date" class="form-control" id="exampleInput4" placeholder="Purchase Date">
             </div>
             <div class="form-group">
               <input type="text" class="form-control" id="exampleInput5" placeholder="Enter Registration Number">
             </div>
             <div class="form-group">
               <input type="text" class="form-control" id="exampleInput6" placeholder="Enter Engine Number">
             </div>
             <div class="form-group">
               <input type="text" class="form-control" id="exampleInput7" placeholder="Enter chassis Number">
             </div>
              <div class="text-center">
               <button type="submit" (click)="policytypefunction()" class="btn btn-primary text-center">Submit</button>
            </div> 
            <br>
            <br>
          </form>
                     
        </div>
      </div>
    </div>
