<div class="row">
    <div class="col">
      <div class="card " style="width: auto; margin-top:20px;
       ">
        <div class="card-body">
          <form>
             <div class="row text-center">
                 <h2>Registration</h2>
            </div>
             <div class="form-group">
               <input type="text" class="form-control" id="exampleInputname"  placeholder="Name">
             </div>
             <div class="form-group">
               <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email-id">
             </div>
             <div class="form-group">
               <input type="dob" class="form-control" id="exampleInputDob" placeholder="DOB">
             </div>
             <div class="form-group">
               <input type="tel" class="form-control" id="exampleInputContact" placeholder="Contact Number">
             </div>
             <div class="form-group">
               <input type="text" class="form-control" id="exampleInputAddress" placeholder="Address">
             </div>
             <div class="form-group">
               <input type="Password" class="form-control" id="exampleInputPassword" placeholder="Password">
             </div>
             <div class="form-group">
               <input type="Password" class="form-control" id="exampleInputConfirmPassword" placeholder="Confirm Password">
             </div>
              <div class="text-center">
               <button type="submit" (click)="registerfunc()" class="btn btn-primary text-center">Submit</button>
            </div> 
          </form>
                     
        </div>
      </div>
    </div>
